.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.pokedex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  width: 8rem;
  height: 8rem;
}
